.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid var(--text-color) 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 35dvw;
    height: 40dvw;
}

.card>* {
    display: flex;
    margin: 0px;
    justify-content: center;
}

.card>picture>img {
    margin: 0 auto;
    width: 30dvw;
    height: 40dvh;
}

#project-buttons {
    display: block;
    text-align: center;
}

@media screen and (max-width:600px) {
    .card {
        height: 60dvh;
    }

    .card>picture>img {
        height: 125px;
        width: 125px;
    }

}

@media screen and (min-width:600px) {
    .card {
        height: 60dvh;
    }

    .card>picture>img {
        height: 200px;
        width: 200px;
    }
}