:root {
    --bg-color: #CFCEC6;
    --text-color: #89A8B2;
    --img-filter: 0%;
}

@font-face {
    font-family: 'a-wide';
    src: url(Agrandir-WideBlackItalic.otf);
}

@font-face {
    font-family: a-narrow;
    src: url(Agrandir-Narrow.otf);
}

@keyframes img-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color, white);
    padding: 1em;
}

hgroup {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--text-color, black);
    font-family: 'a-wide', sans-serif;
    text-align: center;
}

h2 {
    color: var(--text-color, black);
    font-size: 2em;
    font-family: 'a-wide', sans-serif;
    text-align: center;
}

h3 {
    color: var(--text-color, black);
    font-size: 1em;
    font-family: 'a-wide', sans-serif;
    text-align: center;
}

summary {
    color: var(--text-color, black);
}

& li {
    color: var(--text-color, black);
}

strong {
    font-size: 1.3em;
}

p {
    color: var(--text-color, black);
    font-family: 'a-', sans-serif;
    text-align: center;
}

header {
    background-color: var(--bg-color, white);
    padding: 0px;
    margin: 0px;
    overflow: hidden
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'a-wide', sans-serif;
}

nav a:hover {
    background-color: #816852;

}

nav a {
    text-decoration: none;
    padding: 1rem;
    color: var(--text-color);
    transition: background-color .5s ease;
}

#main-img {
    display: flex;
    width: 65dvh;
    transform: translateY(5px);
}

#contact-img {
    display: flex;
    width: 65dvh;
    height: 30dvw;
    padding: 0 1em 1em 2em;
}

form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

& div {
    padding: .5em;
    display: flex;
    flex-direction: column;
}


#main-projects {
    flex-direction: column;
}

#s-projects {
    display: flex;
    flex-direction: row;
}

summary {
    padding-right: 20px;
    padding-left: 20px;
    ;
}

#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#photos img {
    width: 45%;
    animation-name: img-opacity;
    animation-duration: 1s;
    padding: 10px;
}

body {
    background-color: var(--bg-color);
}

.resume {
    height: 80dvh;
    width: 70dvh;
}

.embed {
    height: 40dvh;
    width: 80dvw;
}

button {
    color: var(--text-color);
}

div:has(+div) {
    color: hsl(205, 82%, 43%);
}

@media screen and (max-width:600px) {
    #main-home {
        flex-direction: column-reverse;
    }

    #main-img {
        max-height: 90%;
        max-width: 90%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    #s-projects {
        flex-direction: column;
    }

    #photos {
        flex-direction: column;
        align-items: center;
    }

    .resume {
        height: 50dvh;
        width: 90dvw;
    }

    nav a {
        padding: 10px;
        font-size: .5em;
    }

    #main-contact {
        flex-direction: column;
    }

    #contact-img {
        width: 80%;
    }

    form div {
        display: flex;
        justify-content: center;
    }

    nav img {
        width: 1em;
        height: 1em;
        padding: 10px;
        filter: invert(var(--img-filter));
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
        background-color: var(--text-color);
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: var(--bg-color);
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    .round {
        border-radius: 16px;
    }

    .round:before {
        border-radius: 50%;
    }

}

@media screen and (min-width:600px) {

    /* #main-home {
        flex-direction: column-reverse;
    } */
    main {
        justify-content: space-around;
    }

    #main-img {
        max-height: 50%;
        max-width: 45%;
    }

    h1 {
        font-size: 2.5em;
    }

    nav img {
        width: 1.5em;
        height: 1.5em;
        padding: 10px;
        filter: invert(var(--img-filter));
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        background-color: var(--text-color);
        padding-top: 0px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--bg-color);
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .round {
        border-radius: 34px;
    }

    .round:before {
        border-radius: 50%;
    }

}

@media screen and (min-width:992px) {
    #main-home {
        flex-direction: row;
    }

    #main-img {
        max-height: 90%;
        max-width: 90%;
    }

    .embed {
        height: 80dvh;
        width: 80dvw;
    }

    h1 {
        font-size: 3em;
    }
}

#error-msg {
    color: red;
}

.red {
    color: red;
}

.invalid-input {
    border: 4px solid red;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #542222;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

#toggle {
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
}